body{
font-family:Arial;
background:#f4f6f8;
margin:0;
}

header{
background:#111827;
color:white;
text-align:center;
padding:20px;
}

.container{
max-width:900px;
margin:auto;
padding:20px;
}

.hidden{display:none;}

input,select,button{
padding:10px;
margin:5px;
}

.calendar{
display:grid;
grid-template-columns:repeat(7,1fr);
gap:6px;
}

.day{
background:white;
min-height:90px;
padding:6px;
border-radius:6px;
}

.event{
color:white;
padding:3px;
margin-top:3px;
border-radius:4px;
font-size:12px;
}

.holiday{background:#ef4444;}
.wfh{background:#10b981;}
.planned{background:#f59e0b;}

.nav{
display:flex;
justify-content:center;
align-items:center;
gap:20px;
}
